<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Tela Principal</h1>
    <h3>Seja bem-vindo ao sistema, <%= nome %></h3>

    <% if(showProducts == true) { %>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Disponível</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product) => { %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td>Kz <%= product.price %></td>
                        <td><%= product.category %></td>
                        <td><%= product.inStock ? 'Sim' : 'Não' %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <span>Faça login usando a sua senha para conseguir ver os produtos!</span>
    <% } %>
</body>
</html>
